.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__body {
  display: flex;
  column-gap: 228px;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: flex;
  column-gap: 30px;
  align-items: center;

  a:hover img {
    opacity: .7;
  }
}

.footer__nav {
  display: flex;
  column-gap: 85px;
  z-index: 9;
}

.footer__nav-block {
  font-size: 14px;

  li {
    margin-bottom: 13px;
  }

  a {
    color: inherit;
    transition: color .2s ease-in;
    z-index: 10;

    &:hover {
      color: $accent-color;
      transition: color .2s ease-in;
    }
  }
}

.footer__nav-block-title {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 18px;
}
