.form {
  background: #fff;
  box-shadow: 0 17px 42px 0 rgba(0, 0, 0, .20);
  border-radius: 29px;
  height: 58px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: box-shadow .3s ease-in;
  &--active {
    box-shadow: 0 17px 42px 0 rgb(247, 132, 52, .27);
  }
}

.form__label {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;

  padding-left: 72px;
  height: 100%;

  &::before {
    position: absolute;
    top: 20px;
    left: 20px;

    content: '';
    display: block;
    width: 24px;
    height: 19px;
    background-image: url("./../img/icons/mail.svg");
    background-size: initial;
  }
}

.form__input {
  flex-grow: 1;
  margin-right: 10px;

  &::placeholder {
    color: #BBBBBB;
  }
}

