* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  color: #323232;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.none {
  display: none;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #323232;
}
.logo img {
  margin-right: 15px;
}

.navigation-list ul {
  display: flex;
}
.navigation-list li:not(:last-child) {
  margin-right: 42px;
}
.navigation-list a {
  color: inherit;
  transition: all 0.3s;
}
.navigation-list a:hover {
  color: #F78434;
  transition: all 0.3s;
}
.navigation-list a.active {
  color: #F78434;
  font-weight: 700;
  transition: all 0.3s;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  width: 465px;
}

.header__title {
  position: relative;
  z-index: 9;
  margin-right: -160px;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
}

.header__text p {
  line-height: 1.6785;
  margin-bottom: 1em;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.header__form {
  margin-top: 42px;
}

.form {
  background: #fff;
  box-shadow: 0 17px 42px 0 rgba(0, 0, 0, 0.2);
  border-radius: 29px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in;
}
.form--active {
  box-shadow: 0 17px 42px 0 rgba(247, 132, 52, 0.27);
}

.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 72px;
  height: 100%;
}
.form__label::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/icons/mail.svg");
  background-size: initial;
}

.form__input {
  flex-grow: 1;
  margin-right: 10px;
}
.form__input::-moz-placeholder {
  color: #BBBBBB;
}
.form__input::placeholder {
  color: #BBBBBB;
}

.button {
  display: inline-block;
  padding: 18px 37px;
  border-radius: 29px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #F78434;
  transition: all 0.3s;
}
.button:hover {
  background-color: #ff6a00;
  transition: all 0.3s;
}
.button--white {
  background-color: #fff;
  color: #323232;
  transition: all 0.3s;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1px;
  background-image: url(../img/icons/play.svg);
  background-size: initial;
  background-repeat: no-repeat;
}

.clients {
  padding-top: 100px;
  padding-bottom: 45px;
}

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoipsum-img path, .logoipsum-img .path2 {
  fill: #D8D8D8;
  transition: fill 0.2s ease-in;
}
.logoipsum-img .path--white {
  fill: #fff;
  transition: fill 0.2s ease-in;
}
.logoipsum-img:hover path {
  fill: #F78434;
}
.logoipsum-img:hover .path2 {
  fill: #ff6a00;
}
.logoipsum-img:hover .path--white {
  fill: #D8D8D8;
}

.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}

.objects__row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
@media (max-width: 1495px) {
  .objects__row {
    justify-content: flex-end;
  }
}

.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.objects__text {
  max-width: 374px;
  padding-left: 190px;
  padding-right: 150px;
  box-sizing: content-box;
  flex-shrink: 0;
}
.objects__text p + p {
  margin-top: 20px;
}

.objects__title {
  margin-bottom: 20px;
}

.objects__button {
  margin-top: 40px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.476;
}

.img-card {
  position: relative;
  width: 385px;
}
.img-card + .img-card {
  margin-left: 32px;
}

.img-card__img {
  border-radius: 20px 20px 0 20px;
}
.img-card--rounded .img-card__img {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  bottom: 87px;
  right: -46px;
}

.img-card {
  position: relative;
}

.img-card__info {
  position: absolute;
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.img-card:hover .img-card__info {
  transform: translateX(0%);
  opacity: 1;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 20px;
  background-color: #58BEBF;
  color: #fff;
}

.cta__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: #fff;
  border-radius: 0 20px 0 0;
}

.cta__text {
  background: url(../img/cta/oval-bot-left.svg) bottom left -186px no-repeat, url(../img/cta/oval-top-right.svg) right top no-repeat;
  width: 555px;
  box-sizing: border-box;
  padding-left: 95px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta__text p {
  width: 320px;
}

.cta__title {
  margin-bottom: 15px;
}

.cta__buttons-row {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 30px;
}

.serve {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.serve:before {
  content: "";
  display: block;
  width: 100%;
  height: 704;
  background-color: #F5F6FA;
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  z-index: -1;
}

.serve__heading {
  margin-bottom: 45px;
  text-align: center;
}
.serve__heading .title {
  margin-bottom: 10px;
}

.serve__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.card-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 88px;
  background: #fff;
  color: #323232;
  border-radius: 10px;
  box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.card-customer__icon {
  margin-bottom: 15px;
  fill: #F78434;
  transition: fill 0.2s ease-in;
}
.card-customer:hover {
  background-color: #F78434;
  color: #fff;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.card-customer:hover .card-customer__icon {
  fill: #fff;
}
.card-customer:hover .button {
  background-color: #fff;
  color: #F78434;
}

.card-customer__text {
  margin-bottom: 25px;
}

.benefits {
  padding-top: 114px;
  padding-bottom: 110px;
}

.benefits__heading {
  padding-bottom: 58px;
  text-align: center;
}

.benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.benefit-item {
  text-align: center;
}
.benefit-item__img {
  margin-bottom: 15px;
  display: inline-block;
}
.benefit-item__img circle {
  fill: rgba(88, 190, 191, 0.2);
  transition: fill 0.2s ease-in;
}
.benefit-item__img path {
  fill: #58BEBF;
  transition: fill 0.2s ease-in;
}
.benefit-item:hover .benefit-item__img circle {
  fill: #F78434;
}
.benefit-item:hover .benefit-item__img path {
  fill: #fff;
}

.benefit-item__title {
  margin-bottom: 2px;
  font-size: 28px;
  font-weight: 700;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__title {
  max-width: 462px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.testimonials__row:after {
  content: "";
  position: absolute;
  right: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  background-image: url("../img/testimonials/design-element.svg");
  background-repeat: no-repeat;
}

.card-testimonial {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  transition: box-shadow 0.2s ease-in;
}
.card-testimonial:hover {
  box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.27);
}

.card-testimonial__img-wrapper {
  position: relative;
}

.card-testimonial__btn-play {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__btn-play {
  transform: translateY(10%);
  opacity: 1;
}

.card-testimonial__button-play circle {
  fill: #fff;
  transition: fill 0.2s ease-in;
}
.card-testimonial__button-play path {
  fill: #F78434;
  transition: fill 0.2s ease-in;
}
.card-testimonial__button-play:hover circle {
  fill: #F78434;
}
.card-testimonial__button-play:hover path {
  fill: #fff;
}

.card-testimonial__body {
  padding: 30px;
}

.card-testimonial__text {
  margin-bottom: 23px;
}

.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}

.card-testimonial__city {
  color: #58BEBF;
  transition: color 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__city {
  color: #F78434;
}

.contacts {
  position: relative;
  padding-top: 200px;
  background-image: url("../img/contact/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 55px;
  color: #fff;
}
.contacts:before {
  position: absolute;
  left: 50%;
  content: "";
  display: block;
  width: 743px;
  height: 100%;
  background-image: url("../img/contact/oval.svg");
  background-repeat: no-repeat;
  background-size: initial;
}
.contacts:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 478px;
  height: 547px;
  margin-left: 79px;
  background-image: url("../img/contact/girl.png");
  background-size: initial;
}

.contact__info {
  width: 359px;
}

.contact__title {
  margin-bottom: 15px;
}

.contact__text {
  margin-bottom: 30px;
  width: 327px;
}

.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__body {
  display: flex;
  -moz-column-gap: 228px;
       column-gap: 228px;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.footer__socials a:hover img {
  opacity: 0.7;
}

.footer__nav {
  display: flex;
  -moz-column-gap: 85px;
       column-gap: 85px;
  z-index: 9;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a {
  color: inherit;
  transition: color 0.2s ease-in;
  z-index: 10;
}
.footer__nav-block a:hover {
  color: #F78434;
  transition: color 0.2s ease-in;
}

.footer__nav-block-title {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 18px;
}